.button {
	color: var(--foreground-color);
	background: var(--text-color);
	border: 1px solid var(--border-color);
	font-weight: 500;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	font-size: 1.125rem;
}
