.group {
	width: 100%;
	flex: 1;
	min-width: 15rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.label {
	font-size: 1rem;
	font-weight: 600;
}

.control {
	position: relative;
	width: 100%;
	display: flex;
}

.select {
	flex: 1;
	display: flex;
	align-items: center;
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--border-color);
	background: var(--foreground-color);
}

.chevron {
	position: absolute;
	right: 0.5rem;
	top: 50%;
	transform: translateY(-50%);
}
