.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 2rem;
}

.subtitle {
	font-size: 1.125rem;
	max-width: 640px;
}

.image {
	width: 100%;
	height: auto;
	aspect-ratio: 4/3;
}

.body {
	font-size: 1.125rem;
	line-height: 150%;
	max-width: 640px;
}

.body p {
	/* font-family: 'Inter'; */
	margin-top: 1.5rem;
	letter-spacing: 0.4px;
}
