.accordion {
	width: 100%;
	display: grid;
	grid-template-columns: 3rem 1fr;
	max-width: 800px;
	align-items: center;
	padding: 1rem;
	border: 1px solid transparent;
	border-radius: 1rem;
}

.accordion.open {
	background: var(--foreground-color);
	border: 1px solid #000;
}

.icon {
	font-size: 2.5rem;
	font-weight: 600;
	user-select: none;
	line-height: 150%;
	cursor: pointer;
}

.title {
	font-size: 1.5rem;
	font-weight: 700;
	flex: 1;
	line-height: 150%;
	user-select: none;
	cursor: pointer;
}

.content {
	overflow: hidden;
	font-size: 1.125rem;
	line-height: 150%;
	grid-column-start: 2;
}
