.header {
	top: 0;
	position: sticky;
	z-index: 10;
	background: var(--background-color);
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	flex-wrap: wrap;
	user-select: none;
}

.main {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-weight: 700;
	font-size: 1.5rem;
	padding: 1rem;
	text-decoration: none;
}

.plus {
	color: red;
}

.button {
	color: var(--text-color);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 1.5rem;
}

.menu {
	width: 100%;
	overflow: scroll;
	height: 0px;
}

.menu::-webkit-scrollbar {
	display: none;
}

.menu.open {
	height: 106px;
}

.nav {
	display: flex;
	overflow: scroll;
	gap: 0.25rem;
	padding: 0 1rem 1rem;
}

.nav::-webkit-scrollbar {
	display: none;
}

.link {
	display: block;
	font-weight: 500;
	border: 1px solid transparent;
	border-radius: 2rem;
	padding: 0.5rem 1rem;
	text-decoration: none;
}

.link.active {
	background: var(--foreground-color);
	border: 1px solid var(--border-color);
}

.login {
	display: block;
	width: 100%;
	text-align: center;
	padding: 1rem 2rem;
	text-decoration: none;
	border-top: 1px solid var(--border-color);
}

.login:hover {
	background: var(--foreground-color);
}

@media screen and (min-width: 800px) {
	.header {
		flex-wrap: nowrap;
		gap: 0;
	}

	.main {
		width: auto;
	}

	.logo {
		padding: 1rem 2rem;
		border-right: 1px solid var(--border-color);
	}

	.button {
		display: none;
	}

	.menu {
		height: auto;
		display: flex;
	}

	.menu.open {
		height: auto;
	}

	.nav {
		display: flex;
		padding: 0 1rem;
		margin: 0 auto;
		align-items: center;
		gap: 0.5rem;
	}

	.link:hover {
		background: var(--foreground-color);
		border: 1px solid var(--border-color);
	}

	.login {
		width: 10rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: none;
		border-left: 1px solid var(--border-color);
	}

	.logo:hover,
	.login:hover {
		background: var(--foreground-color);
	}
}
