:root {
	--max-width: 1200px;
	--font-family: 'Syne', sans-serif;
	--text-color: #000;
	--background-color: #f7f1eb;
	--foreground-color: #fff;
	--border-radius: 1rem;
	--border-color: #000;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	appearance: none;
	font-variant-numeric: lining-nums;
	font-family: var(--font-family);
	transition: all 150ms;
}

::selection {
	color: var(--foreground-color);
	background: var(--text-color);
}

html,
body {
	background: var(--background-color);
	color: var(--text-color);
	touch-action: manipulation;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--text-color);
}

button {
	cursor: pointer;
	border: none;
	background: none;
	font-size: 1rem;
}

image {
	background: var(--foreground-color);
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}
