:root {
	--max-width: 1200px;
	--font-family: 'Syne', sans-serif;
	--text-color: #000;
	--background-color: #f7f1eb;
	--foreground-color: #fff;
	--border-radius: 1rem;
	--border-color: #000;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	appearance: none;
	font-variant-numeric: lining-nums;
	font-family: var(--font-family);
	transition: all 150ms;
}

::selection {
	color: var(--foreground-color);
	background: var(--text-color);
}

html,
body {
	background: var(--background-color);
	color: var(--text-color);
	touch-action: manipulation;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--text-color);
}

button {
	cursor: pointer;
	border: none;
	background: none;
	font-size: 1rem;
}

img {
	display: block;
	background: var(--foreground-color);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	object-fit: cover;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

p {
	line-height: 150%;
	font-size: 1.25rem;
}

input,
select,
textarea {
	border: none;
	background: var(--foreground-color);
	color: var(--text-color);
	font-family: var(--font-family);
	outline: none;
	font-size: 1.125rem;
	line-height: 150%;
}

@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}
}
